<!doctype html>
<html>
<head>
<title>GBIC-Portfolio</title>
<link rel="shortcut icon" href="/img/logo2.png" type="image/x-icon"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/gbic-style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
		.container-fluid{
		margin-left:4%;
		margin-right:4%;
	}
	
	#navlogo{
		height:45px;
	}
	
	.navmargin{
	margin-left:0px;
	margin-right:0px;
}
	
	h3{
		color:#231F20;
		font-size:24px;
	}
	
	h4{
		color:#231F20;
		font-size:20px;
		line-height:0.5;
	}
	
	p{
		color:#231F20;
		font-size:12px;
		margin-top:-10px;
	}
	
	li{
		color:#231F20;
		font-size:24px;
	}
	
	.portfoliorow{
		margin-top:20px;
	}
	
	.portfoliopic{
		margin-bottom:15px;
		margin-top:5px;
		height:60px;
		margin-left:-40px;
	}
	
	
	@media screen and (max-width: 768px) {
	  .col-sm-1 {
      text-align: center;
    }
	  #footermenu{
		  text-align:center;
	  }
		.col-sm-2{
			text-align:center;
		}
		.portfoliopic{
			height:80px;
			margin-bottom:40px;
			margin-left:0px;
			
		}
		.portfoliorow{
		margin-top:0px;
	}
}

  @media screen and (max-width: 480px) {
   .col-sm-2{
			text-align:center;
		}
   .portfoliopic{
			height:80px;
			margin-bottom:40px;
	        margin-left:0px;
	   
		}
	  .portfoliorow{
		margin-top:0px;
	}
	
    }

	
</style>
</head>

<body>
<!--Navbar-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid navmargin">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/"><img src="/img/Logonav.png" alt="GBIC" id="navlogo"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/portfolio" class="navmenu">Portfolio</a></li>
        <li><a href="/team" class="navmenu">Team</a></li>
        <li><a href="/career" class="navmenu">Career</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--content-->
<div class="container-fluid" style="margin-top:70px;">
	<h3 style="text-align:center;margin-top:0px;">PORTFOLIO</h3>
	<hr class="line">
	<div class="row portfoliorow">
		<div class="col-sm-2"></div>
		<div class="col-sm-2"><a href="https://www.logos.network/" target="_blank"><img src="/img/1logos.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"><a href="https://vault12.com/" target="_blank"><img src="/img/vault12.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"><a href="https://www.ankr.network/" target="_blank"><img src="/img/ANKR.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"><a href="https://hadron.cloud/" target="_blank"><img src="/img/hadron.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row portfoliorow">
		<div class="col-sm-2"></div>
		<div class="col-sm-2"><a href="https://taxa.network/" target="_blank"><img src="/img/taxa.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"><a href="https://www.aergo.io/" target="_blank"><img src="/img/aergo.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"><a href="https://www.perlin.net/" target="_blank"><img src="/img/perlin.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"><a href="https://origo.network/" target="_blank"><img src="/img/origo.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row portfoliorow">
		<div class="col-sm-2"></div>
		<div class="col-sm-2"><a href="https://www.ttc.eco/" target="_blank"><img src="/img/ttc.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"><a href="https://metadium.com/" target="_blank"><img src="/img/metadium.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"><a href="https://www.thundercore.com/" target="_blank"><img src="/img/thunder-1.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"><a href="https://www.cortexlabs.ai/" target="_blank"><img src="/img/cortex.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row portfoliorow">
		<div class="col-sm-2"></div>
		<div class="col-sm-2"><a href="https://www.mycred.io/" target="_blank"><img src="/img/libra.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"><a href="https://eximchain.com/" target="_blank"><img src="/img/01Eximchain.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"><a href="https://aelf.io/" target="_blank"><img src="/img/02Aelf-2.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"><a href="https://iotex.io/" target="_blank"><img src="/img/03lotex-1.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row portfoliorow">
		<div class="col-sm-2"></div>
		<div class="col-sm-2"><a href="http://data.eco/" target="_blank"><img src="/img/04Data-1.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"><a href="https://www.thetatoken.org/" target="_blank"><img src="/img/05Theta-1.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"><a href="https://nebulas.io/" target="_blank"><img src="/img/06Nebulas.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"><a href="https://u.network/" target="_blank"><img src="/img/07Unetwork.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row portfoliorow">
		<div class="col-sm-2"></div>
		<div class="col-sm-2"><a href="https://www.tomocoin.io/" target="_blank"><img src="/img/09Tomochain-1.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"><a href="https://mainframe.com/" target="_blank"><img src="/img/10Mainframe.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"><a href="https://iotchain.io/" target="_blank"><img src="/img/11Iotchain.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"><a href="https://icon.foundation/?lang=en" target="_blank"><img src="/img/12icon-3.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row portfoliorow">
		<div class="col-sm-2"></div>
		<div class="col-sm-2"><a href="https://wax.io/" target="_blank"><img src="/img/14wax.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"><a href="https://www.liquid.com/" target="_blank"><img src="/img/16Qash-2.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"><a href="https://www.airswap.io/" target="_blank"><img src="/img/17Airswap.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"><a href="https://www.stormx.io/" target="_blank"><img src="/img/18Storm.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row portfoliorow">
		<div class="col-sm-2"></div>
		<div class="col-sm-2"><a href="https://quantstamp.com/" target="_blank"><img src="/img/19Quantstamp.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"><a href="https://wepower.network/" target="_blank"><img src="/img/20Wepower.png" alt="" class="portfoliopic"></a></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-2"></div>
	</div>
	
	
	
</div>
	
<!--footer-->
<footer section="Footer">
	<div class="row" id="footer">
	<div class="col-sm-6" id="footermenu">
		<ul class="list-inline footlist">
			<li><a href="/" class="footstyle" style="text-decoration: none;">About</a></li>
			<li><a href="/contact" class="footstyle" style="text-decoration: none;">Contact</a></li>

		</ul>
	</div>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-2" id="footer2">
		<p id="footerright">&copy; 2018 GBIC</p >
	</div>
	<div class="col-sm-3" id="footer3">
		<a href="https://twitter.com/gbicofficial?lang=en" target="_blank" class="footericon"><i class="fa fa-twitter-square" style="padding:1vw;"></i></a>
		<a href="https://medium.com/@gbic" target="_blank" class="footericon"><i class="fa fa-medium" style="padding:1vw;"></i></a>
		<a href="https://www.linkedin.com/company/gbicofficial/" target="_blank" class="footericon"><i class="fa fa-linkedin-square" style="padding:1vw;"></i></a>
	</div>
	</div>
</footer>
</body>
</html>
