<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GBIC-Homepage</title>
  <link rel="shortcut icon" href="/img/logo2.png" type="image/x-icon"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/gbic-style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- all font-size:px; margin:vw-->
	
<style>
h2 {
      font-size: 36px;
      color: #231F20;
      font-weight: 400;
      margin-bottom:2%;
	  line-height:1.4;
  } 

p {
	font-size: 24px;
	line-height:1.4;
	color:#231F20;
	letter-spacing:0px;
}

li{
	font-size:20px;
}
	
#navlogo{
	margin-top:0px;
	height:45px;
}
	
.navbar-collapse{
	background-color:#FFFFFF;
	font-size:12px;
}

.navmargin{
	margin-left:0px;
	margin-right:0px;
}
	@media screen and (max-width: 768px) {
		h2{
			font-size:20px;
		}
		
		p{
			font-size:14px;
		}
		
		li{
			font-size:12px;
		}
		.philoul{
			padding-bottom:10px;
		}
	}
	
	@media screen and (max-width: 480px) {
  		h2{
			font-size:20px;
		}
		
		p{
			font-size:14px;
		}
		
		li{
			font-size:12px;
		}
		.philoul{
			padding-bottom:10px;
		}
	
    }

</style>
</head>


<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<!--nav-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid navmargin">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage"><img src="/img/Logonav.png" alt="GBIC" id="navlogo"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/portfolio" class="navmenu">Portfolio</a></li>
        <li><a href="/team" class="navmenu">Team</a></li>
        <li><a href="/career" class="navmenu">Career</a></li>
      </ul>
    </div>
  </div>
</nav>

<!--intro-->
<div class="container-fluid" id="intro" style="margin-top:70px;">
  <div class="row" style="margin-top:-100px;">
	  <div class="col-sm-9">
  		<h2 id="intro1">GBIC (Global Blockchain Innovative Capital) is a multi-strategy crypto fund with offices in New York, Shanghai and Seoul.</h2>
	  </div>
	  <div class="col-sm-3"></div>
   </div>
  <br>
  <div class="row" style="margin-top:-20px;">
	  <div class="col-sm-7">
  		<p id="intro2" style="margin-top:0px;">We are a global fund that furthers the development,acceleration and launch of blockchain projects.</p>
	  </div>
	  <div class="col-sm-5"></div>
  </div>
  </div>

<!-- Value -->
<div class="container-fluid" id="value">
	<hr id="line1">
	<div class="row">
		<div class="col-sm-6">
			<p id="value1" style="margin-top:10px;font-weight:bold;">Our value comprises of 3 core fundamentals</p>
		</div>
		<div class="col-sm-2 value2">
			<ul>
				<li>Strategic Investment</li>
			</ul>
		</div>
		<div class="col-sm-2 value2">
			<ul>
				<li>Global Community Building</li>
			</ul>
		</div>
		<div class="col-sm-2 value2">
			<ul>
				<li>Best in Class Partners</li>
			</ul>
		</div>	
	</div>
</div>
	
<!-- Philosophy-->
<div class="container-fluid" id="Philo">
		<hr id="line2">
		<div class="row">
			<!---->
			<div class="col-sm-7 philo1">
				<p id="philo1" style="font-weight:bold;">Investment Philosophy</p>
				<p id="philo2">Our core investment philosophy centers on</p>
				<ul id="philo3">
					<li class="philoul">Blockchain</li>
					<li class="philoul">Digital Assets</li>
					<li>Distributed Ledger Technology</li>
				</ul>
			</div>
		<div class="col-sm-5 philo1">
			
		</div>
	</div>
</div>
	
<!--Footer-->	
<footer section="Footer">
	<div class="row" id="footer">
	<div class="col-sm-6" id="footermenu">
		<ul class="list-inline footlist" style="padding:0.2vw;">
			<li><a href="/" class="footstyle" style="text-decoration: none;">About</a></li>
			<li><a href="/contact" class="footstyle" style="text-decoration: none;">Contact</a></li>
		</ul>
	</div>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-2" id="footer2">
		<p id="footerright" style="padding:0.2vw;">&copy; 2018 GBIC</p >
	</div>
	<div class="col-sm-3" id="footer3">
		<a href="https://twitter.com/gbicofficial?lang=en" target="_blank" class="footericon"><i class="fa fa-twitter-square" style="padding:1vw;"></i></a>
		<a href="https://medium.com/@gbic" target="_blank" class="footericon"><i class="fa fa-medium" style="padding:1vw;"></i></a>
		<a href="https://www.linkedin.com/company/gbicofficial/" target="_blank" class="footericon"><i class="fa fa-linkedin-square" style="padding:1vw;"></i></a>
	</div>
	</div>
</footer>
	

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

</body>
</html>

