<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Token72</title>
  <link rel="shortcut icon" href="/img/tabicon.jpeg" type="image/x-icon"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/homepage.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
	$(document).ready(function(){
    $("#investorbtn1").click(function(){ 
 		$('#Investor0').hide();
		$('#Investor2').hide();
		$('#Investor3').hide();
		$('#Investor1').fadeIn(100);
		//$('#Investor0').html($("#Investor1").html());
	    $('#investorbtn1').css("background-color","rgb(128, 129, 132,0.01)");
		$('#investorbtn2').css("background-color","#FAFAFA");
		$('#investorbtn3').css("background-color","#FAFAFA");
		$('#container1').css("background-color","rgb(128, 129, 132,0.1)");
		$('#container2').css("background-color","#FAFAFA");
		$('#container3').css("background-color","#FAFAFA");

		
	});
});
					  
	 $(document).ready(function(){
    $("#investorbtn2").click(function(){
		$('#Investor0').hide();
		$('#Investor1').hide();
		$('#Investor3').hide();
		$('#Investor2').fadeIn(100);
       //$('#Investor0').html($("#Investor2").html());
		$('#investorbtn2').css("background-color","rgb(128, 129, 132,0.01)");
		$('#investorbtn1').css("background-color","#FAFAFA");
		$('#investorbtn3').css("background-color","#FAFAFA");
		$('#container2').css("background-color","rgb(128, 129, 132,0.1)");
		$('#container1').css("background-color","#FAFAFA");
		$('#container3').css("background-color","#FAFAFA");
		
   });
});
	$(document).ready(function(){
    $("#investorbtn3").click(function(){
		$('#Investor0').hide();
		$('#Investor1').hide();
		$('#Investor2').hide();
		$('#Investor3').fadeIn(100);
       //$('#Investor0').html($("#Investor3").html()).fadeIn("slow");
		$('#investorbtn3').css("background-color","rgb(128, 129, 132,0.01)");
		$('#investorbtn1').css("background-color","#FAFAFA");
		$('#investorbtn2').css("background-color","#FAFAFA");
		$('#container3').css("background-color","rgb(128, 129, 132,0.1)");
		$('#container1').css("background-color","#FAFAFA");
		$('#container2').css("background-color","#FAFAFA");
		
   });
});
	  
$(document).ready(function(){
			$('#container1').css("background-color","rgb(128, 129, 132,0.1)");
		    $('#investorbtn1').css("background-color","rgb(128, 129, 132,0.01)");
	$('#investorbtn1').css("border-bottom","2px solid #74C9CA");
	$('#investorbtn1').css("color","#74C9CA");
    $("#investorbtn1").hover(function(){ 
 		$('#Investor0').hide();
		$('#Investor2').hide();
		$('#Investor3').hide();
		$('#Investor1').fadeIn(100);
		//$('#Investor0').html($("#Investor1").html());
	    $('#investorbtn1').css("background-color","rgb(128, 129, 132,0.01)");
		$('#investorbtn2').css("background-color","#FAFAFA");
		$('#investorbtn3').css("background-color","#FAFAFA");
		$('#investorbtn1').css("border-bottom","2px solid #74C9CA");
		$('#investorbtn1').css("color","#74C9CA");
		$('#investorbtn2').css("border-bottom","none");
		$('#investorbtn2').css("color","#808184");
		$('#investorbtn3').css("border-bottom","none");
		$('#investorbtn3').css("color","#808184");
		$('#container1').css("background-color","rgb(128, 129, 132,0.1)");
		$('#container2').css("background-color","#FAFAFA");
		$('#container3').css("background-color","#FAFAFA");

		
	});
});
					  
	 $(document).ready(function(){
		 		$('#container1').css("background-color","rgb(128, 129, 132,0.1)");
	$('#investorbtn1').css("border-bottom","2px solid #74C9CA");
	$('#investorbtn1').css("color","#74C9CA");
    $("#investorbtn2").hover(function(){
		$('#Investor0').hide();
		$('#Investor1').hide();
		$('#Investor3').hide();
		$('#Investor2').fadeIn(100);
       //$('#Investor0').html($("#Investor2").html());
		$('#investorbtn2').css("background-color","rgb(128, 129, 132,0.01)");
		$('#investorbtn1').css("background-color","#FAFAFA");
		$('#investorbtn3').css("background-color","#FAFAFA");
		$('#investorbtn2').css("border-bottom","2px solid #74C9CA");
		$('#investorbtn2').css("color","#74C9CA");
		$('#investorbtn1').css("border-bottom","none");
		$('#investorbtn1').css("color","#808184");
		$('#investorbtn3').css("border-bottom","none");
		$('#investorbtn3').css("color","#808184");
		$('#container2').css("background-color","rgb(128, 129, 132,0.1)");
		$('#container1').css("background-color","#FAFAFA");
		$('#container3').css("background-color","#FAFAFA");
		
   });
});
	$(document).ready(function(){
				$('#container1').css("background-color","rgb(128, 129, 132,0.1)");
	$('#investorbtn1').css("border-bottom","2px solid #74C9CA");
	$('#investorbtn1').css("color","#74C9CA");
    $("#investorbtn3").hover(function(){
		$('#Investor0').hide();
		$('#Investor1').hide();
		$('#Investor2').hide();
		$('#Investor3').fadeIn(100);
       //$('#Investor0').html($("#Investor3").html()).fadeIn("slow");
		$('#investorbtn3').css("background-color","rgb(128, 129, 132,0.01)");
		$('#investorbtn1').css("background-color","#FAFAFA");
		$('#investorbtn2').css("background-color","#FAFAFA");
		$('#investorbtn3').css("border-bottom","2px solid #74C9CA");
		$('#investorbtn3').css("color","#74C9CA");
		$('#investorbtn2').css("border-bottom","none");
		$('#investorbtn2').css("color","#808184");
		$('#investorbtn1').css("border-bottom","none");
		$('#investorbtn1').css("color","#808184");
		$('#container3').css("background-color","rgb(128, 129, 132,0.1)");
		$('#container1').css("background-color","#FAFAFA");
		$('#container2').css("background-color","#FAFAFA");
		
   });
});
	  
					  
 </script>
</head>

<body>
<!-- nav -->
	<!-- <nav class="navbar navbar-fixed-top bg-light">
		<a class="navbar-brand" href="#Home"><img src="Nav-Logo.png" alt="Token72" class="navlogo"></a>
      		<ul class="nav navbar-nav navbar-right" id="myNavbar">
        		<li><a href="demo - Copy.html" class="colormain">About Us</a></li>
        		<!--<li><a href="#Projectsanchor" class="colormain">Projects</a></li> -->
        		<!--<li><a href="#Talentsanchor" class="colormain">Talents</a></li>-->
				<!--<li><a href="aboutusmain.html" class="colormain">Team</a></li>
				<li><a href="Subscribepage.html" class="color-subscribe">Subscribe</a></li>
      		</ul>
	</nav>-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/"><img src="/img/Nav-Logo.png" alt="Token72" class="navlogo"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      	<ul class="nav navbar-nav navbar-right">
        	<li><a href="/" class="colormain">About Us</a></li>
			<li><a href="/team" class="colormain">Team</a></li>
			<li><a href="/subscribe" id="colorsubscribe">Subscribe</a></li>
      	</ul>
    </div>
  </div>
</nav>
<!-- Home -->
<section id="Home">
	<div class="container-fluid">
		<div class="row">
			<div class="homepic">
				<p class="homeword1">Globally Compliant Security Token Service Platform</p>
			</div>
	</div>
	</div>
</section>
	
<!-- Investors-->
<section id="Investors">
	
		<div class="row">
			<div class="col-sm-3">
			</div>
			<div class="col-sm-6">
				<div class="container-fluid title">
					<img id="img10" src="/img/Title-investors.png"class="subtitlelogo">
				</div>
			</div>
			<div class="col-sm-3">
			</div>
		</div>
	
		<div id="investbackground">
			<div class="container-fluid text-center bg-grey">
				<div class="row">
					<div class="col-sm-4" id="container1">
						<button type="button" class="investorbtn" id="investorbtn1">Utility Token Offering</button>
					</div>
					<div class="col-sm-4" id="container2">
						<button class="investorbtn" id="investorbtn2">Security Token Offering</button>
					</div>
					<div class="col-sm-4" id="container3">
						<button class="investorbtn" id="investorbtn3">Private Market Liquidity Solution</button>
					</div>
				</div>
			</div>
	
		<div class="container-fluid text-center bg-grey" id="Investor0">
			<div class="row investorrow">
    			<div class="col-sm-1">
    			</div>
    		<div class="col-sm-10">
      			<div class="row">
					<div class="col-sm-4 logocareercenter" ><img class="ICOimg" src="/img/ICO1.png" width="150" height="150">
					<h4 class="ICOsubtitle">Quality Projects</h4><br><p class="ICOwording">With years of professional in renowned crypto funds and large technology firms, our investment and technical team performs stringent due diligence process to ensure the quality of projects listed on Token72 to be at least top 1% in the market.</p></div>
					<div class="col-sm-4 logocareercenter"><img class="ICOimg" src="/img/ICO2.png" width="150" height="150"><h4 class="ICOsubtitle">Fair Pricing</h4><br><p class="ICOwording">All tokens are sold at the same price; no pre-sales, no discounts, and no bonuses with full transparency.</p></div>
					<div class="col-sm-4 logocareercenter"><img class="ICOimg" src="/img/ICO3.png" width="150" height="150"><h4 class="ICOsubtitle">Token Vetting</h4><br><p class="ICOwording">All tokens go through a comprehensive vetting process, team background checks and financial audits on the teams’ fund raising proceeds.</p></div>
				</div>
    		</div>
   			<div class="col-sm-1">
    		</div>
    		</div>
		</div>


		<div class="container-fluid text-center bg-grey" id="Investor1">
			<div class="row investorrow">
    			<div class="col-sm-1">
    			</div>
    		<div class="col-sm-10">
      			<div class="row">
					<div class="col-sm-4 logocareercenter" ><img class="ICOimg" src="/img/ICO1.png" width="150" height="150">
					<h4 class="ICOsubtitle">Quality Projects</h4><br><p class="ICOwording">With years of professional in renowned crypto funds and large technology firms, our investment and technical team performs stringent due diligence process to ensure the quality of projects listed on Token72 to be at least top 1% in the market.</p></div>
					<div class="col-sm-4 logocareercenter"><img class="ICOimg" src="/img/ICO2.png" width="150" height="150"><h4 class="ICOsubtitle">Fair Pricing</h4><br><p class="ICOwording">All tokens are sold at the same price; no pre-sales, no discounts, and no bonuses with full transparency.</p></div>
					<div class="col-sm-4 logocareercenter"><img class="ICOimg" src="/img/ICO3.png" width="150" height="150"><h4 class="ICOsubtitle">Token Vetting</h4><br><p class="ICOwording">All tokens go through a comprehensive vetting process, team background checks and financial audits on the teams’ fund raising proceeds.</p></div>
				</div>
    		</div>
   			<div class="col-sm-1">
    		</div>
    		</div>
		</div>
	
		<div class="container-fluid text-center bg-grey" id="Investor2">
			<div class="row investorrow">
    			<div class="col-sm-2">
				</div>
    		<div class="col-sm-3">
				<div class="logocareercenter" ><img class="STOimg" src="/img/STO.png" width="250" height="250">
				<h4 class="subtitle"><strong>Secrity Token Offering</strong></h4>
				</div>
				</div>
				<div class="col-sm-5">
				<div class="logocareercenter">
				<ul class="wording">
				<li>Built-in-Code Compliance Framework</li>
				<li>Unlock Global Liquidity and Attract New Investors</li>
				<li>Faster, Easier, Low-Cost Capital Formation</li>
				<li>The best-in-class Tokenizable Asset</li></ul>
				</div>
    		</div>
			<div class="col-sm-2">
    		</div>
		</div>
    		</div>
			
		</div>
		
		<div class="container-fluid text-center bg-grey" id="Investor3">
			<div class="row investorrow">
    			<div class="col-sm-2">
				</div>
    		<div class="col-sm-3">
				<div class="logocareercenter" ><img class="OTCimg" src="/img/OTC.png" width="250" height="250">
				<h4 class="subtitle"><strong>Private Market Liquidity Solution</strong></h4>
				</div>
				</div>
				<div class="col-sm-5">
				<div class="logocareercenter">
				<ul class="wording">
				<li>Liquidty Solution for both Utility and Security Token</li>
				<li>Innovative Private Transaction Technology</li>
				<li>Global Network of institutional and HNWI Buyers and Sellers</li>
				<li>Comphrensive Regulatory Framework</li></ul>
				</div>
    		</div>
			<div class="col-sm-2">
    		</div>
			</div>
		</div>
</section>

<!-- Partner -->
<section id="Partner">
	<div class="row">
			<div class="col-sm-3">
			</div>
			<div class="col-sm-6">
				<div class="container-fluid title">
					<img src="/img/Title-projects.png" class="subtitlelogo">
				</div>
			</div>
			<div class="col-sm-3">
			</div>
		</div>
		<div class="container-fluid text-center" id="Partner">
			<div class="row">
    			<div class="col-sm-12">
					<h3 class="partnerword">We are fortunate to be backed by some of the top investors in crypto</h3>
				</div>
			</div>
			<div class="row">
    			<div class="col-sm-1">
				</div>
    		<div class="col-sm-10">
					<div class="row">
					<div class="col-sm-4 logopartner" ><a class="partnerlink" href="https://gbic.io/"><img class="partnerimg" src="/img/GBIC.png" height="40"></a></div>
					<div class="col-sm-4 logopartner"><a class="partnerlink" href="https://block72.io/"><img class="partnerimg" src="/img/block72.png" height="40"></a></div>
					<div class="col-sm-4 logopartner"><a class="partnerlink" href="https://fbg.capital/"><img class="partnerimg" src="/img/FBG.png" height="40"></a></div>
				</div>
				</div>
			<div class="col-sm-1">
    		</div>
			</div>
		</div>	
</section>

<!--Talents --> 
<!--
<span class="anchor" id="Talentsanchor"></span>
<section id="Talents">
	<div class="row">
			<div class="col-sm-3">
			</div>
			<div class="col-sm-6">
				<div class="container-fluid title">
					<img src="Title-talents.png" alt="Talents" class="subtitlelogo">
				</div>
			</div>
			<div class="col-sm-3">
			</div>
		</div>

	<div class="container-fluid text-center bg-grey">
		<div class="row">
    		<div class="col-sm-3">
    		</div>
    	<div class="col-sm-6">
      		<div class="row">
				<div class="col-sm-4 logocareercenter" ><img src="Logos-careercenter.png"></div>
				<div class="col-sm-4 logocareercenter"><img src="Logos-careercenter.png"></div>
				<div class="col-sm-4 logocareercenter"><img src="Logos-careercenter.png"></div>
			</div>
    	</div>
   		<div class="col-sm-3">
    	</div>
    </div>
		<div class="row">
    		<div class="col-sm-3">
    		</div>
    		<div class="col-sm-6">
      			<div class="row">
					<div class="col-sm-4 logocareercenter" ><img src="Logos-careercenter.png"></div>
					<div class="col-sm-4 logocareercenter"><img src="Logos-careercenter.png"></div>
					<div class="col-sm-4 logocareercenter"><img src="Logos-careercenter.png"></div>
				</div>
    		</div>
   			<div class="col-sm-3">
    		</div>
    	</div>
		<div class="container-fluid text-center subclick">
		<button type="button" class="btn">Join Our Career Center</button>
	</div>
	</div>
</section> -->
<!-- Footer -->
<footer section="Footer">
	<div class="row">
		<div class="footermargin">
	<div class="col-sm-2 footfactor">
	<a class="foot-brand" href="#Home"><img src="/img/footlogo.png" alt="Token72" class="footlogo"></a>
	</div>
	<div class="col-sm-4 footfactor">
		<ul class="list-inline footlist">
			<li><a href="/contact" class="footstyle">Contact</a></li>
			<li><a href="/policy" class="footstyle">Privacy Policy</a></li>
			<li><a href="/tofservice" class="footstyle">Terms of Services</a></li>
		</ul>
	</div>
	<div class="col-sm-2 footfactor">
	<ul class="list-inline footermenu2" >
        <li><a class="footersubscribe">Tuned and Subscribe</a ></li>
		</ul>
	</div>
		<div class="col-sm-2 footfactor">
	<ul class="list-inline footermenu2" >
    	<li><a href="https://twitter.com/Token72Official" class="footericon"><i class="fa fa-twitter" style="font-size:22px;"></i></a></li>
    	<li><a href="https://t.me/Token72Official" class="footericon"><i class="fa fa-telegram" style="font-size:22px;"></i></a></li>
		</ul>
	</div>
	<div class="col-sm-2 footfactor">
		<p style="font-size:12px;">&copy; 2018 by Token72</p >
			</div>
		</div>
	</div>
</footer>

</body>
</html>
