<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Token72</title>
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
</head>
<style>
    html, body {
        height: 100%;
        width: 100%;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }

    h1 {
        font-size: 36pt;
    }

    h3 {
        font-size: 30pt;
    }

    .header {
        margin-bottom: 100px;
        width: 300px;
    }
    .font{
        width: 60%;
    }

    @media screen and (max-width: 700px) {
        .header {
            width: 150px;
        }
        .font{
            width: 85%;
        }
    }
</style>
<body style="margin: 0;color: #ffffff;background: #1d1d1f">
<div style="text-align: center;">
    <div style="height: 96px"></div>
    <img class="header" src="/img/head_img.png">
    <img class="font" src="/img/font.png" style="display: block;margin: 0 auto;">
</div>
<footer style="position:absolute;bottom:0; width:100%">
    <img src="/img/footer_img.png" width="70px" style="margin-left: 24px"/>
    <p style="float: right;margin-right: 24px;font-size: 14px">&copy; 2018 by Token72</p>
</footer>
</body>
</html>