<!DOCTYPE html>
<html lang="en">
<head>
 	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Token72 - Team</title>
  <link rel="shortcut icon" href="/img/tabicon.jpeg" type="image/x-icon"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/team.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<!-- nav -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/"><img src="/img/Nav-Logo.png" alt="Token72" class="navlogo"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      	<ul class="nav navbar-nav navbar-right">
        	<li><a href="/" class="colormain">About Us</a></li>
			<li><a href="/team" class="colormain">Team</a></li>
			<li><a href="/subscribe" id="colorsubscribe">Subscribe</a></li>
      	</ul>
    </div>
  </div>
</nav>
<!-- img -->
	<div class="container-fluid">
	<div class="row">
			<div class="homepic">
				<p class="homeword homeword1">Token72 is building a team of highly talented people who are passionate about creating financial products and services in the tokenized future</p>
				<!-- img <p class="homeword homeword2">who are passionate about creating financial</p>
				<p class="homeword homeword3">financial products and services</p>
				<p class="homeword homeword4">in the tokenized future</p>-->
				
			</div>
	</div>
	</div>
<!-- Team -->
	<div class="row">
			<div class="col-sm-3">
			</div>
			<div class="col-sm-6">
				<div class="container-fluid title">
					<img src="/img/Title-team.png" class="subtitlelogo">
				</div>
			</div>
			<div class="col-sm-3">
			</div>
		</div>
		<div class="container-fluid text-center bg-grey" id="Partner">
			<div class="row investorrow">
    			<div class="col-sm-12">
					<h3 class="teambrief">The board of Directors of Token72 is responsible for the overall direction, supervision and control of the firm</h3>
				</div>
			</div>
			<div class="row investorrow">
    			<div class="col-sm-2">
				</div>
    		<div class="col-sm-8 content">
					<div class="row">
					<div class="col-sm-6 logoteam" ><img class="teamimg" src="/img/p1.png" height="300">
						<h3 class="teaminfo">Mike Chen</h3><h3 class="teaminfo">CEO</h3></div>
					<div class="col-sm-6 logoteam"><img class="teamimg" src="/img/p4.png" height="300"><h3 class="teaminfo">Kevin Chen</h3><h3 class="teaminfo">CEO of Securi Protocol</h3></div>
				</div>
				</div>
			<div class="col-sm-2">
    		</div>
			</div>
			<div class="row investorrow">
    			<div class="col-sm-2">
				</div>
    		<div class="col-sm-8 content">
					<div class="row">
					<div class="col-sm-6 logoteam"><img class="teamimg" src="/img/p2.png" height="300"><h3 class="teaminfo">Sinhae Lee</h3><h3 class="teaminfo">COO</h3></div>
					<div class="col-sm-6 logoteam" ><img class="teamimg" src="/img/p3.png" height="300"><h3 class="teaminfo">Richard Lee</h3><h3 class="teaminfo">CSO</h3></div>
				</div>
				</div>
			<div class="col-sm-2">
    		</div>
			</div>
		</div>	
<!-- Advisor
		<div class="container-fluid text-center bg-gray" id="advisor">
		<div class="row">
            <div class="col-sm-3"></div>
			<div class="col-sm-6">
            <p class="wordadvisor">Advisor</p>
			</div>
			<div class="col-sm-3"></div>
        </div>
			<div class="row">
    			<div class="col-sm-3">
    			</div>
    		<div class="col-sm-6">
      			<div class="row">
					<div class="col-sm-4 logocareercenter" ><img class="teamimg" src="ICO1.png" width="150" height="150">
					<h3 class="teamsubtitle">Quality Projects</h3><br><p class="teamwording">With years of professional in renowned crypto funds and large technology firms, our investment and technical team performs stringent due diligence process to ensure the quality of projects listed on Token72 to be at least top 1% in the market.</p></div>
					<div class="col-sm-4 logocareercenter"><img class="teamimg" src="ICO2.png" width="150" height="150"><h3 class="teamsubtitle">Fair Pricing</h3><br><p class="teamwording">All tokens are sold at the same price; no pre-sales, no discounts, and no bonuses with full transparency</p></div>
					<div class="col-sm-4 logocareercenter"><img class="teamimg" src="ICO3.png" width="150" height="150"><h3 class="teamsubtitle">Token Vetting</h3><br><p class="teamwording">All tokens go through a comprehensive vetting process, team background checks and financial audits on the teams’ fund raising proceeds</p></div>
				</div>
    		</div>
   			<div class="col-sm-3">
    		</div>
    		</div>
		</div>
	
	-->
<!-- Footer -->
<footer section="Footer">
	<div class="row">
		<div class="footermargin">
	<div class="col-sm-2 footfactor">
	<a class="foot-brand" href="#Home"><img src="/img/footlogo.png" alt="Token72" class="footlogo"></a>
	</div>
	<div class="col-sm-4 footfactor">
		<ul class="list-inline footlist">
			<li><a href="/contact" class="footstyle">Contact</a></li>
			<li><a href="/policy" class="footstyle">Privacy Policy</a></li>
			<li><a href="/tofservice" class="footstyle">Terms of Services</a></li>
		</ul>
	</div>
	<div class="col-sm-2 footfactor">
	<ul class="list-inline footermenu2" >
        <li><a class="footersubscribe">Stay Tuned and Subscribe</a ></li>
		</ul>
	</div>
		<div class="col-sm-2 footfactor">
	<ul class="list-inline footermenu2" >
		<li><a href="https://twitter.com/Token72Official" class="footericon"><i class="fa fa-twitter" style="font-size:22px;"></i></a></li>
		<li><a href="https://t.me/Token72Official" class="footericon"><i class="fa fa-telegram" style="font-size:22px;"></i></a></li>
		</ul>
	</div>
	<div class="col-sm-2 footfactor">
		<p style="font-size:12px;">&copy; 2018 by Token72</p >
			</div>
		</div>
	</div>
</footer>
	
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>