<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Token72 - Terms of Service</title>
  <link rel="shortcut icon" href="/img/tabicon.jpeg" type="image/x-icon"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/tofservice.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<!-- nav -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/"><img src="/img/Nav-Logo.png" alt="Token72" class="navlogo"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      	<ul class="nav navbar-nav navbar-right">
        	<li><a href="/" class="colormain">About Us</a></li>
			<li><a href="/team" class="colormain">Team</a></li>
			<li><a href="/subscribe" id="colorsubscribe">Subscribe</a></li>
      	</ul>
    </div>
  </div>
</nav>

<!-- tofservice -->
<section id="tofservice">
	<div class="row maininput">
	<div class="col-sm-2">
	</div>
	<div class="col-sm-8" style="margin-left: 2%; margin-right: 2%">
	<div class="pptitle">
		<p class="tos">Terms of Service</p>
		<br>
		<p class="main">LAST UPDATED: November 04, 2018</p>
		<p class="main">This Terms of Use (“Agreement”) is a binding contract between you, an individual user (“you”), and the applicable entity set forth in Section 16 (“Token72,” “we,” “us” or “our”), and governs your use of any website that links to these terms, including <a href="https://token72.com" class="link">https://token72.com</a> and <a href="https://token72.io" class="link">https://token72.io</a> (and all related subdomains) (“Site”).</p>
		<br>
		<p class="thick">BY ACCESSING OR USING THE SITE, YOU AGREE THAT YOU HAVE READ, UNDERSTOOD AND AGREE TO BE BOUND BY THIS AGREEMENT. IF YOU DO NOT AGREE TO THIS AGREEMENT, THEN YOU MUST NOT ACCESS OR USE THE SITE.</p>
		<p class="main">If you are accessing the Site on behalf of a business or corporate entity (“Organization”), then you hereby represent and warrant that you have the authority to bind that Organization and your acceptance of this Agreement will be treated as acceptance by the Organization. In that event, “User” (defined in (Section 1.a) and “you” in this Agreement will refer to the Organization.</p>
		<p class="main">Material Terms: As provided in greater detail in this Agreement (and without limiting the express language of this Agreement), you acknowledge the following:</p>
		
		<ul>
			<li>You consent to the collection, use and disclosure of information in accordance with the Token72 <a href="privacypolicypage.html" class="link">Privacy Policy</a> (“Privacy Policy”);</li>
			<li class="thick">THE SITE IS PROVIDED “AS IS” WITHOUT WARRANTIES OF ANY KIND, Token72’S LIABILITY TO YOU IN CONNECTION WITH THE SITE IS LIMITED, AND YOU BEAR ALL RISKS ASSOCIATED WITH ANY INVESTMENTS THAT YOU MAKE ON THE SITE; and</li>
			<li class="thick">We will resolve disputes arising under this Agreement through binding arbitration. BY ACCEPTING THIS AGREEMENT, AS PROVIDED IN GREATER DETAIL IN SECTION 9 OF THIS AGREEMENT, YOU AND COINLIST ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION.</li>
		</ul>
		<p class="thick">1. General Terms and Conditions.</p>
		<p class="thick">2. Registration; Accounts.</p>
		<p class="thick">3. Intellectual Property Rights.</p>
		<p class="thick">4. Content.</p>
		<p class="thick">5. Notice and Procedure for Making Claims of Intellectual Property Infringements.</p>
		<p class="thick">6. Restrictions on Use of the Site.</p>
		<p class="thick">7. External Sites.</p>
		<p class="thick">8. Feedback.</p>
		<p class="thick">9. Dispute Resolution.</p>
		<p class="thick">10. Limitation of Liability and Disclaimer of Warranties.</p>
		<p class="thick">11. Third Party Disputes.</p>
		<p class="thick">12. Indemnification.</p>
		<p class="thick">13. Term and Termination of the Agreement.</p>
		<p class="thick">14. Consent to Electronic Communications.</p>
		<p class="thick">15. Miscellaneous.</p>
		<p class="thick">16. Contracting Party.</p>
		<p class="thick">17. Contact Us.</p>
	</div>
	</div>
	<div class="col-sm-2">
	</div>
	</div>
	</section>
<!-- Footer -->
<footer section="Footer">
	<div class="row">
		<div class="footermargin">
	<div class="col-sm-2 footfactor">
	<a class="foot-brand" href="#Home"><img src="/img/footlogo.png" alt="Token72" class="footlogo"></a>
	</div>
	<div class="col-sm-4 footfactor">
		<ul class="list-inline footlist">
			<li><a href="/contact" class="footstyle">Contact</a></li>
			<li><a href="/policy" class="footstyle">Privacy Policy</a></li>
			<li><a href="/tofservice" class="footstyle">Terms of Services</a></li>
		</ul>
	</div>
	<div class="col-sm-2 footfactor">
	<ul class="list-inline footermenu2" >
        <li><a class="footersubscribe">Stay Tuned and Subscribe</a ></li>
		</ul>
	</div>
		<div class="col-sm-2 footfactor">
	<ul class="list-inline footermenu2" >
		<li><a href="https://twitter.com/Token72Official" class="footericon"><i class="fa fa-twitter" style="font-size:22px;"></i></a></li>
		<li><a href="https://t.me/Token72Official" class="footericon"><i class="fa fa-telegram" style="font-size:22px;"></i></a></li>
		</ul>
	</div>
	<div class="col-sm-2 footfactor">
		<p style="font-size:12px;">&copy; 2018 by Token72</p >
			</div>
		</div>
	</div>
</footer>

</body>
</html>
