/* CSS Document */
body {
    font-family: Verdana, Geneva, sans-serif;
}

/*Nav*/
.navbar {
    background-color: #FFFFFF;
    border: 0;
    font-size: 12px !important;
    border-radius: 0;
    height: 80px;
}

.colormain:hover {
    color: #74C9CA !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #808184 !important;
    margin-top: 30px;
}

.container-fluid {
    padding: 0px;
}

.navlogo {
    height: 30px;
    margin-top: 15px;
}

.navbar-right {
    margin-right: 57px;
}

.navbar-collapse {
    background-color: #FFFFFF;
}

.colormain {
    color: #808184;
    font-size: 18px;
    padding: auto;
    margin-top: 18px;
}

#colorsubscribe {
    color: #74C9CA;
    font-size: 18px;
    padding: auto;
    margin-top: 18px;
}

#colorsubscribe:hover {
    color: #808184 !important;
    background-color: #FFFFFF !important;
}

/*contact*/

.row {
    margin-top: 100px;
    margin-bottom: 30px;
}

.formstyle {
    color: #74C9CA;
    font-size: 18px;
    margin-top: 10px;
}

.input {
    width: 100%;
    height: 35px;
    border-color: rgba(80, 81, 84, 0.3);
    transition: 0.5s;
    outline: none;
}

.input:focus {
    border: 2px solid #74C9CA;
}

.messageinput {
    width: 100%;
    height: 105px;
    border-color: rgba(80, 81, 84, 0.3);
    border-width: 2px;
    transition: 0.5s;
    outline: none;
}

.messageinput:focus {
    border: 2px solid #74C9CA;
}

.btn {
    width: 100%;
    height: 45px;
    color: #FFFFFF;
    background-color: #74C9CA;
}

.btn:hover {
    background-color: #808184;
    color: #fff;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
    background-color: #74C9CA;
    color: #fff;
}

.contactus {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.word1 {
    font-size: 17px;
    color: #808184;
    margin-bottom: 20px;
}

.word2 {
    font-size: 17px;
    color: #808184;
    margin-bottom: 20px;
}

.emailaddress {
    color: #74C9CA;
}

/*footer*/
.footlogo {
    height: 14px;
    margin-bottom: 20px;
}

.list-inline {
    margin-bottom: 20px;
}

.footermargin {
    padding: 35px;
}

.footstyle {
    color: #808184;
}

.footstyle:hover, .footerstyle:active, .footerstyle:focus {
    text-decoration: none;
    color: #74C9CA;
}

.footersubscribe {
    color: #74C9CA;
}

.footersubscribe:hover {
    text-decoration: none;
    color: #808184;
}

.fa {
    font-size: 22px;
}

.fa {
    color: #808184;
    font-size: 22px;

}

.fa:hover {
    color: #74C9CA;
}

@media screen and (max-width: 768px) {

    .footfactor {
        text-align: center;
    }

    .maininput {
        margin-left: 7%;
        margin-right: 7%;
    }

    .footlist {
        font-size: 12px;
    }

    .footersubscribe {
        font-size: 12px;
    }
}